USE [master]
GO
/****** Object:  Database [memory_test]    Script Date: 3/8/2016 3:22:24 PM ******/
CREATE DATABASE [memory_test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'memory', FILENAME = N'C:\Users\ottoe\memory_test.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'memory_log', FILENAME = N'C:\Users\ottoe\memory_test_log.ldf' , SIZE = 560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [memory_test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [memory_test]
GO
/****** Object:  Table [dbo].[cards]    Script Date: 3/8/2016 3:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cards](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[theme] [varchar](255) NULL,
	[pairnum] [int] NULL,
	[randnum] [int] NULL,
	[turnt] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
