<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
     <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../Content/css/easy.css" media="screen" title="no title" charset="utf-8">
    <title>Easy Layout</title>
  </head>
  <body>
    <nav>
      <ul>
        <li class="logo1"><a href="/" class="brand-logo">Memory<span>Flip</span> <i class="fa fa-stop c1"></i> <i class="fa fa-stop c2"></i> <i class="fa fa-stop c3"></i></li>
        <li class="homey"><a href="/">Home</a></li>
        <li class="border1">
          <div class="modal">
            <label for="modal-1">
              <div class="modal-trigger">Rules</div>
            </label>
            <input class="modal-state" id="modal-1" type="checkbox" />
            <div class="modal-fade-screen">
              <div class="modal-inner">
                <div class="modal-close" for="modal-1"></div>
                <h1>Memory<span>Flip</span> <i class="fa fa-stop c1"></i> <i class="fa fa-stop c2"></i> <i class="fa fa-stop c3"></i></h1><br>
                <p class="modal-intro">mem·o·ry</p><br>
                <p class="modal-intro"><em>noun</em></p><br>
                <p class="modal-intro"><em>1. the faculty by which the mind stores and remembers information.</em></p><br>
                <p class="modal-content">This is a game of memory. The rules to this game are simple. <br> <br> <strong>RULES:</strong> <br><em>1.</em> Choose the level of difficulty; easy, medium, or hard.<br> <em>2.</em> Select one card. <br><em>3.</em> Select another card. <br><em>4.</em> If the two cards are the same you hve found a match. <br><em>5.</em> Find all the matching pairs within the deck and you win! <br><em>6.</em> Have fun!</p>
            </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>

    <div class="easy-title">
      <h1><span class='tint'>Level</span> One: <span class="potter">PotterLand</span></h1>
      <h2>Click <span class='accent'>on</span> cards to find <span class='accent'>the</span>  matching pairs.</h2>

    </div>

    <div class="cards">
      @foreach(var card in @Model)
      {
      <input type="checkbox" id="@card.GetTheme()@card.GetPairNum()">
      }
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="../Content/js/scripts.js"></script>
</html>
