<!DOCTYPE html>
<html>
  <head>
  
  </head>
  <body>
    <form action="/" method="post">
      <label>Card 1(ID 1)</label>
      <input type="checkbox" value=1 name="card1">
      <label>Card 2(ID 2)</label>
      <input type="checkbox" value=2 name="card2">
    
      <button type="submti">Check</button>
    </form>
  </body>
</html>