<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <form action="/game" method="post">
      <fieldset id="game-difficulty">
        <input type="radio" name="game-difficulty" value=""><label>Small</label>
        <input type="radio" name="game-difficulty" value=""><label>Medium</label>
        <input type="radio" name="game-difficulty" value=""><label>Large</label>
      </fieldset>
      <button type="submit">Play</button>
    </form>

  @Model
  </body>
</html>
