
%card-set {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 209px;
  border: 2px solid black;
}

%cartoon-card {
  margin-top: 20px;
  width: 100px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-appearance: none;
  outline: 0;
  padding: 0;
}
