$brk-narrow2: "(max-width: 485px)";
$brk-narrow: "(max-width: 695px)";
$brk-med3: "(max-width: 730px)";
$brk-med2: "(max-width: 1024px)";
$brk-medium: "(max-width: 1280px)";
$brk-wide: "(max-width: 1240px)";
