@import "base/variables";

.boxes {
  display: flex;
  justify-content: space-around;
  max-width: 1300px;
  margin: auto;
  margin-bottom: 50px;
  @media #{$brk-med2} {
    max-width: 700px;
    flex-wrap: wrap;
  }
  @media #{$brk-narrow} {
    max-width: 600px;
  }
}
.box {
  display: flex;
  width: 250px;
  height: 300px;
  background-color: white;
  border: solid 3px #cfb4f7;
  @media #{$brk-med2} {
    width: 320px;
    height: 350px;
  }
  @media #{$brk-narrow} {
    width: 550px;
    height: 350px;

  }

}

.box1 {
  background-image: url(../img/trip.gif);
}
.box2 {
  background-image: url(../img/trip.jpg);
  background-size: cover;
  @media #{$brk-narrow} {
    margin-top: 15px;
  }

}

.box3 {
  background-image: url(../img/tv.gif);
  background-size: contain;
  background-color: #cfb4f7;
  border: solid 3px #01ffff;
  @media #{$brk-medium} {
    display: none;
  }
}



.box4 {
  background-image: url(../img/trip2.jpg);
  background-size: cover;
  @media #{$brk-med2} {
    margin-top: 15px;
  }
}

.box5 {
  background-image: url(../img/dh.jpg);
  background-size: contain;

  @media #{$brk-med2} {
  background-image: url(../img/tv.gif);
  background-size: contain;
  background-color: #cfb4f7;
  border: solid 3px #01ffff;
  margin-top: 15px;
  }
}
