
a {
  list-style: none;
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 0 auto;
  padding: 20px 0 0;

}

nav {
  width: 80%;
  margin:auto;
}
li {
flex: 1;
padding: 5px 0;
// border: 1px solid yellow;
font-size: 18px;
text-align: center;
list-style: none;
text-decoration: none;
}

a span {
  font-family: 'Dawning of a New Day', cursive;
}

li:nth-child(1) {
  display: flex;
  flex: 6;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

/* SHIFT */
nav ul li a {
  position:relative;
  z-index: 1;
}
nav ul li a:hover {
  color: lightpink;
  opacity: .5;
}

.modal-trigger:hover {
  color: lightpink;
  opacity: .5;
}

.logo1 {
  font-size: 35px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;

}

.border1 {
  border-left: 1px solid white;
}
